<div id="main-wrapper">

    {{> header}}
    {{> sidebar}}
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Subscriptions</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row col-12">
                        <div class="button-icon">
                            <a class="text-white" href="/admin/subscription/add-form"><button type="button"
                                    class="btn mb-1 btn-primary">Add Subscription <span class="btn-icon-right"><i
                                            class="fa fa-plus"></i></span>
                                </button></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Subscriptions</h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>Subscription Name</th>
                                            <th>Description</th>
                                            <th>Membership Amount</th>
                                            <th>Duration</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {{#each subscriptions}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{description}}</td>
                                            <td>{{membership_amount}}</td>
                                            <td>{{duration}}</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" id="{{_id}}" role="switch" onchange="status('{{_id}}','{{base_url}}/admin/subscription/change-status/{{_id}}')"
                                                        role="switch" {{#if status}}checked {{/if}}>
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td><span><a href="/admin/subscription/{{_id}}" data-toggle="tooltip"
                                                        data-placement="top" title="" data-original-title="Edit"><i
                                                            class="fa fa-pencil color-muted m-r-5"></i> </a></span>
                                            </td>
                                        </tr>
                                          {{/each}}

                                        
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>



    {{> footer}}

</div>