<div id="main-wrapper">

    {{> header}}
    {{> sidebar}}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="page-titles">
                            <h3>Edit Product</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="/admin/products/update/{{product._id}}" method="post"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="patch" />
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="name">Name <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" required class="form-control input-default" id="name"
                                                name="name" placeholder="Enter a name.." value="{{product.name}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="description">Description
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control input-default" id="description"
                                                name="description" rows="5"
                                                placeholder="Product description">{{product.description}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="size">Size<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <select class="form-control select2" name="size[]" multiple id="size">
                                                    {{#each size}}
                                                    <option value="{{this.size}}" {{#if this.status}} Selected {{/if}}>
                                                        {{this.size}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="price">Price <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control input-default" id="price"
                                                name="price" placeholder="Enter price" value="{{product.price}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Category<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-default" id="category"
                                                name="category" placeholder="Enter the category"
                                                value="{{product.category}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Overall Rating <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control input-default" id="overallrating"
                                                name="overallrating" placeholder="Enter overallrating"
                                                value="{{product.overallrating}}">
                                        </div>
                                    </div>
                                    {{!-- <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Rating <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-default" id="ratings"
                                                name="ratings" placeholder="5">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Comments <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-default" id="comments"
                                                name="comments" placeholder="5">
                                        </div>
                                    </div> --}}
                                    {{!-- <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Show On Website <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" id="show_on_website" name="show_on_website"
                                                        class="form-check-inline" value="true"></label>
                                            </div>
                                        </div>
                                    </div> --}}
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="image">Product Image <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="file" id="uploaded_file" multiple name="uploaded_file"
                                                    class="form-control-file">
                                            </div>
                                            <div class="form-group row">
                                                {{#each product.product_img}}
                                                <div class="col-md-4">
                                                    <img src="../../public/images/{{this.URL}}" width="100px">
                                                </div>
                                                {{/each}}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="select-color">Color<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">

                                            <select class="form-control select2" name="color[]" multiple id="color">
                                                {{#each color}}
                                                <option value="{{this.color}}" {{#if this.status}} Selected {{/if}}>
                                                    {{this.color}}
                                                </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{#if err}}
                                    <div class="form-group">
                                        <label class="erro-info">{{err}}</label><br />
                                    </div>
                                    {{/if}}
                                    <div class="form-group row">
                                        <div class="col-lg-8">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{> footer}}

</div>