<div id="main-wrapper">

    {{> header}}
    {{> sidebar}}
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Members</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Users</h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>User name</th>
                                            <th>Email</th>
                                            <th>Member Amount</th>
                                            <th>Member Discount</th>
                                            <th>Total Amount</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each memberShipDetail}}
                                        <tr>
                                            <td>{{user.firstname}} {{user.firstname}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{amount}}</td>
                                            <td>{{discount}}</td>
                                            <td>{{total_amount}}</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox"  id="{{member._id}}" role="switch" onchange="status('{{member._id}}','{{base_url}}/admin/membership/change-status/{{member._id}}')"
                                                        role="switch" {{#if member.status}}checked {{/if}}>
                                                    <span class="slider round"></span>
                                                </label>
                                               

                                            </td>
                                        </tr>
                                        {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>

    {{> footer}}

</div>