<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img src="/public/images/product/{{product.product_img}}"
                                    width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i><a
                                        href="/products">
                                        <span class="ml-1 text-muted">Back</span></a> </div> <i
                                    class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">{{product.name}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">${{product.price}}</span>

                                </div>
                            </div>
                            <p class="about">{{product.description}}</p>
                            <div class="sizes mt-3">
                                {{#if product.size.length}}
                                <h6 class="text-uppercase">Size</h6>
                                {{#each product.size}}
                                <label class="radio"> <input type="radio" name="size" value="{{this}}">
                                    <span>{{this}}</span>
                                    {{/each}}
                                    {{/if}}

                            </div>
                            <p>Quantity</p>
                            <input type="number" class="form-control" placeholder="Enter quantity" value="1">
                            <p class="error-quantity-product" id="error-quantiy-message" name="error-quantiy-message">
                                Quantity should be greater than 0 and less than 100
                            </p>
                            <div class="cart mt-4 align-items-center"> <button
                                    class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>