<div class="container">
    <div class="row mt-5">

        {{#each products}}
        <div class="col-sm-12 col-md-6 col-xl-4 mt-5">
            <div class="card h-100 text-center" style="width: 18rem;">
                <img src="/public/images/product/{{this.product_img}}" class="card-img-top h-100"
                    alt="{{this.category}}" />
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}.${{this.price}} only</h5>
                    <a href="/products/{{this._id}}" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>